<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- Cargando Materializecss --}}
    <link rel='stylesheet' href='/vendor/materialize/css/materialize.min.css' />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    {{{body}}}
    {{!-- Materialize script --}}
    <script src="/vendor/materialize/js/materialize.min.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
